<h1>Hello {{getCurrentUser.fullName}}</h1>
<h2>{{title}}</h2>

<ul class='list-group'>
  {{#each issues as |issue|}}
    <li class='list-group-item'>
      {{#if issue.isOpen}}
        {{link-to 'Assign' 'issues.assign' issue class='btn btn-success btn-xs'}}
      {{else if issue.isClosed}}
      {{else}}
        {{link-to 'Finalize' 'issues.finalize' issue class='btn btn-warning btn-xs'}}
      {{/if}}
      {{#link-to 'issues.show' issue}}{{issue.title}}{{/link-to}}
      <span class="label label-primary">{{issue.status}}</span>
    </li>
  {{/each}}
</ul>
