<h2>Create new support ticket</h2>

<form>
<div class="form-horizontal">
  {{log model.creator_id}}
  {{input type="hidden" value=model.creator_id }}
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      {{input type="text" value=model.title class="form-control" placeholder="Issue summary"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      {{textarea name="description" value=model.description class="form-control" placeholder="Detailed description"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" {{action 'saveIssue' model}}>Create</button>
      <button {{action 'cancel'}} class="btn">Cancel</button>
    </div>
  </div>
</div>
</form>
